body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}
/* .or {
  width: 100%;
} */
.or {
  border: none;
  border-top: 1px groove #333;
  color: #333;
  overflow: visible;
  text-align: center;
  opacity: 0.6;
  width: 100%;
  height: 5px;
}

.or:after {
  background: #f4f4f2;
  content: "OR";
  padding: 0 4px;
  position: relative;
  top: -13px;
}
.footer-hr {
  width: 120vh;
  opacity: 0.2;
}
.license {
  margin-left: 410px;
  display: flex;
  font-size: 9px;
  opacity: 0.4;
}
.header-img {
  position: relative;
  display: flex;
  font-size: 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100vw;
  height: 400px;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.1)
    ),
    url(https://b.zmtcdn.com/data/images/order/home_page_bg.jpg?output-format=webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  width: 100vw;
  height: 60px;
}
.nav-menu {
  background-color: #e23744;

  height: 6vh;
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap-reverse; */
  justify-content: center;
  justify-content: space-around;
}
.zomato {
  margin-top: 8px;
  display: inline;
  font-weight: bolder;
  font-size: 27px;
  color: white;
}

.nav-link {
  display: inline;
  color: white;
  border-bottom: 0px solid black;
  transition: border-bottom 0.3s;
  cursor: pointer;
}
.create-account-button {
  font-size: 15px;
  padding: 10px 15px 5px 15px;
  margin: 10px;
  margin-left: 30px;
  background-color: #e23744;
  justify-content: flex-end;
  border: 2px solid white;
}
.create-account-button:hover {
  opacity: 0.8;
}
.log-in {
  margin-top: 20px;
  margin-left: 50px;
  justify-content: flex-end;
  font-size: 15px;
}
.log-in:hover {
  opacity: 0.8;
}
.right-nav {
  display: flex;
  justify-content: space-between;
}
.location-search {
  display: flex;
  flex-direction: row;
  border: 5px solid rgb(63, 62, 62);
}
.search-btn {
  background-color: green;
}
.container {
  margin: 0 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.details {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.heading {
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.para {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.download {
  margin-top: 30px;
  padding: 50px 0;
  background-color: #f4f4f2;
  display: flex;
  justify-content: center;
}
.info {
  display: flex;
  flex-direction: column;
  margin-left: -80px;
}
.logo-and-number {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.app-link-btn {
  margin-top: 5px;
  padding: 10px 10px;
  background-color: #e23744;
  width: 100%;
}
/* .search-box {
  background-color: white;
  height: 50px;
  width: 40vw;
  border: none;
  size: 100px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-left: 20px;
  outline: none;
  font-weight: bold;
  font-size: 40px;
}
.state-select {
  height: 50px;
  width: 200px;
  font-size: large;
} */

footer {
  display: flex;
  flex-direction: column;
  background-color: #2d2d2d;
  color: white;
}
.footer1 {
  display: flex;
  justify-content: flex-end;
  justify-content: space-around;
  opacity: 0.7;
}
.footer2 {
  margin-top: 30px;
  margin: 0 200px;
  display: flex;
  justify-content: center;
  opacity: 0.7;
  justify-content: space-evenly;
}
.footer3 {
  margin-top: 30px;
  margin-left: 230px;
  margin-right: 180px;
  display: flex;
  opacity: 0.7;
  justify-content: center;
  justify-content: space-evenly;
}
.footer4 {
  margin: 0 380px;
  display: flex;
  flex-direction: row;
  opacity: 0.7;
  justify-content: space-around;
  align-content: center;
}
.left-list {
  display: flex;
  flex: 9;

  color: white;
}
.right-list {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.footer-link-icon {
  margin-left: 20px;
}
.para {
  margin-left: 20px;
}
ul {
  list-style-type: none;
}
.zomato-button {
  margin-top: 10px;
  background-color: #e23744;
  color: white;
  font-size: larger;
  font-weight: bolder;
  border-radius: 5px;
  height: 70px;
  width: 80px;
}
.lang {
  margin-top: 10px;
  background-color: #2d2d2d;
  color: white;
  height: 40px;
  width: 200px;
  font-size: larger;
}
.hide {
  opacity: 0;
}
.large-para {
  font-size: 25px;
}
.small-para {
  font-size: 18px;
}
